<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bienvenidxs a HIGGE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=McLaren&family=PT+Sans+Narrow:wght@700&family=Roboto&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/6c995d925a.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- ------------ Comienzo del HEADER  -->
    <div class="contenedor">
        <header class="header">
            <div class="logo">
                <figure>
                    <a href="home"><img src="/images/logo.svg" alt="Logo de HIGGE"> </a>
                </figure>
            </div>

            <div>
                <form id="barra-busqueda" class="form" action='#' method="GET">
                    <input type="search" class="input-busqueda" placeholder="Buscar...">
                    <button type="button"><i class="fa fa-search"></i></button>
                </form>
            </div>


            <div class="main-navbar">
                <div class="account">
                    <ul>
                        <li class="register"><a href="/registro">Crear cuenta</a></li>
                        <li class="login"><a href="/login">Iniciar sesión</a></li>
                    </ul>
                </div>

                <div>
                    <button class="cart-shopping"><a href="/carrito-de-compras"><i
                                class="fa-solid fa-cart-shopping"></i></a></button>
                </div>

                <div class="site-navbar">
                    <ul>
                        <li class="home"><a href="/home">Inicio</a></li>
                        <li class="images"><a href="/galeria">Imagenes</a></li>
                        <li class="contac"><a href="#contacto">Contacto</a></li>
                        <li class="about-us"><a href="#about-us">Acerca de nosotros</a></li>
                    </ul>

                </div>

            </div>

        </header>
    </div>



    <!-- ------------ Fin del HEADER  -->

    <p>frase de prueba de tipografia</p>
</body>

</html>