* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", sans-serif;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}


/* --------- HEADER -- */
.main-header {
  width: 100%;
  padding: 2px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.top-header {
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
}

.burger-menu {
  background-color: #050505;
  color: #ebebeb;
  width: 3em;
  height: 1.8em;
  margin: auto;
  border-radius: 20%;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  margin-left: 8px;
}

.logo {
  width: 105%;
  margin-top: 5px;
  margin-left: 10px;
}

header div img {
  width: 55%;
  margin: auto;
  max-width: 200px;
  display: flex;
  position: relative;
  top: 3px;
  right: -8px;
}

.usser-management {
  display: flex;
  width: 33%;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 35px;
  margin-right: 5px;
  justify-content: center;
}

.account-management {
  margin-top: 7px;
  font-size: 0.7em;
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

.fa-cart-shopping {
  color: #050505;
  font-size: 22px;
  margin: auto;
  text-align: center;
  padding: 5px;
  transition: all 450ms;
}

.login {
  margin-bottom: 5px;
}

.register {
  margin-top: 5px;
}
.bottom-header {
  width: 100%;
  display: flex;
  position: relative;
}

.form-search {
  width: 100%;
  height: 50px;
  border-top: solid 1px #ebebeb;
  border-left: solid 1px #ebebeb;
  border-bottom: solid 1px #ebebeb;
  border-right: none;
  display: flex;
}

.input-busqueda {
  width: 100%;
  font-size: 1.05rem;
  padding: 7px 0px 7px 5px;
  border: 0;
  outline: none;
}

.search-button {
  font-size: 1.5rem;
  background-color: #fff;
  color: #666;
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;
  right: 10px;
}

.gallery-products {
  width: 100%;
  height: 50px;
  border: solid 1px #ebebeb;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #262626;
}

.gallery-products p {
  font-size: 1.05rem;
  font-weight: lighter;
}

.fa-angle-down {
  margin-left: 15px;
}

a {
  transition: all 1000ms;
}

a:link,
a:visited {
  color: #050505;
}

a:hover {
  text-decoration: underline;
}
/* --------- FIN HEADER -- */

/* --------- comienzo MAIN -- */

main {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}


div main h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 200;
}

section {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section article {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  transition: all 450ms;
  border: 1px solid rgba(0, 0, 0, 0.2);
  align-items: center;
}

section article img {
  width: 92%;
  margin: 10px;
}

section article:hover {
  padding: 0;
  box-shadow: 0px 0px 5px rgb(100, 100, 100);
}

.precios {
  font-size: 18px;
}

.descripcion {
  color: #666;
  margin-top: 15px;
}

.info-producto {
  background: white;
  border-top: 1px solid #ebebeb;
  width: 100%;
  padding: 15px;
  margin: auto;
  margin-top: 0;
  transition: all 450ms;
}

.descuentos {
  font-size: 16px;
  color: #39b54a;
}

/* ------------------- MOBILE  */

@media (max-width: 480px) {
  .main-navbar {
    display: none;
  }
}

/* ------------------- TABLET  */

@media (max-width: 768px) {
  .main-navbar {
    display: none;
  }
}

/* ------------------- DESKTOP  */

@media (min-width: 1020px) {
  /* --------- HEADER -- */
  
  .main-header {
   height: 80%;
}


  .burger-menu {
    display: none;
  }

  .top-header {
    width: calc(100% - 30px);
    margin: 0 15px;
    height: 120px;
  }

  .logo {
    max-width: 150px;
    margin: auto;
    text-align: center;
    position: relative;
    left: 100px;
}


  header div img {
    width: 100%;
    height: 150px;
    margin: auto;
    margin-bottom: 20px;
  }

  .usser-management {
    display: flex;
    width: 23%;
    flex-direction: row;
    margin-right: 3px;
  }

  .account-management {
    display: flex;
    width: 100%;
    flex-direction: row;
    font-size: 0.9em;
    margin: auto;
  }

  .login {
    padding-right: 8px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  .register {
    margin-top: 0;
    padding-left: 8px;
  }

  .fa-cart-shopping {
    font-size: 28px;
    position: relative;
    top: -3px;
    right: 19px;
  }

  .form-search {
    width: 15%;
    height: 40px;
    position: absolute;
    left: 20px;
    top: -115px;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }

  .gallery-products {
    display: none;
    width: 0;
  }

  .bottom-header{
    width: calc(100% - 30px);
    margin: 40px 15px 0px 15px ;
  }

  .main-navbar {
    display: flex;
    width: 100%;
    padding: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
  }

  div.main-navbar ul li {
    display: inline-block;
    margin-right: 50px;
    background-color: #ffffff;
    border-top: 3px solid #e8e8e8;
    border-bottom: 3px solid #e8e8e8;
  }

  .main-navbar .about-us {
    margin-right: 0;
  }


  main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  

  section {
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  main section article {
    margin: 5px 5px;
    transition: all 450ms;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  section article img {
    margin: 10px;
    height: 100%;
    width: auto;
    max-height: 220px;
  }
}
