/* -------comienzo del MAIN --*/
main img {
  float: left;
  width: 80%;
  height: auto;
  margin: 10px;
 }
.contenedor {
  display: flex;
  flex-direction: column;
}
.imagen-descripciones {
  display: flex;
}

.descripciones {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 40%;
  font-size: 21px;
  align-items: flex-start;
}
.descripciones h1 {
  margin-bottom: 20px;
  font-size: 25px;
}

.descripciones h2 {
  color: #666;
  margin-bottom: 50px;
}

.descripciones h3 {
  color: black;

  font-size: 21px;
}

.descripciones h4 {
  display: flex;
  justify-content: center;
  color: #666;
  border: solid black 1px;
  margin-bottom: 50px;
  padding: 2px;
}
.carrito {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border: solid black 2px;
  cursor: pointer;
  transition: 0.3s ease all;
  width: max-content;
  padding: 5px;
}
.carrito:hover {
  background-color: black;
  color: white;
  transition: background-color, 0.5s, color, 0.5;
}

.informacion {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 60%;
  margin: 10px;
}

.informacion p {
  text-transform: capitalize;
}
.informacion h5 {
  text-transform: capitalize;
  font-style: italic;
}

@media (min-width: 768px) {
  main img {
    width: 100%;
    height: auto;
    margin: 10px;
  }
}

@media (min-width: 1020px) {
  main img {
    margin: 10px;
    height: auto;
    width: 80%;
    max-height: 800px;
  }
}

/* --------fin del MAIN-- */
