.main-catalogo {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

@media (min-width: 768px) {
    main section article {
        width: 45%;
    }
    }

@media (min-width: 1020px) {
main section article {
    width: 30%;
}
}
