/* REGISTRO  */

.control-formUser {
  margin: 40px auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-form {
  padding: 10px;
  margin: 10px;
}

.data-form input value{
  color: red;
}

.data-form .email {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.registerTittle, .editProfileTittle {
  margin-bottom: 30px;
}

.registerTittle h3, .editProfileTittle h3 {
  text-decoration: underline;
}

.field {
  width: 90%;
  display: flex;
  margin: 20px auto;
  align-items: center;
  justify-content: space-between;
}

.field label {
  margin-bottom: 0;
  text-align: right;
}

.field input {
  width: 60%;
  border: 1px solid grey;
  text-transform: lowercase;
  font-size: 22px;
  margin-left: 5px;
}

.dataSend {
  display: flex;
  flex-direction: column;
}

.button-form {
  color: #fff;
  background-color: #262626;
  padding: 10px;
  transition: all 0.1s ease;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  box-shadow: 4px 9px 8px -4px rgb(0 0 0 / 75%);
  margin: 15px 0;
}

.button-form:hover {
  opacity: 0.8;
}

.button-form a {
  text-decoration: none;
  color: white;
}

.is-valid {
  color: #198754;
}

.is-invalid {
  color: #842029;
}

.alert-warning,
.alert-warning ul {
  padding: 10px;
  color: #842029;
  background-color: #f8d7da;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 5px;
  list-style: disc;
}

.alert-warning li {
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .login-form {
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .login-form {
    font-size: 20px;
  }
}
