* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", sans-serif;
}

.contenedor {
  margin: 3px 5px 3px 5px;
  padding: 5px;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 100%;
}

.logo {
  justify-content: center;
}

header div img {
  width: 35%;
  margin: auto;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

#barra-busqueda {
  width: 50%;
  margin-left: 2px;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

#barra-busqueda input {
  border: solid 1px #ebebeb;
  display: block;
  width: 100%;
  padding: 7px 7px 7px 7px;
  height: 40px;
}

#barra-busqueda button {
  position: absolute;
  bottom: 8px;
  right: 9px;
  font-size: 1.1em;
  background-color: #fff;
  border-left: solid 2px #666;
  color: #666;
  border: none;
}

@media (min-width: 361px) {
  header div img {
    width: 50%;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .contenedor {
    width: 100%;
    height: 80%;
  }

  .header {
    width: 100%;
  }

  .logo {
    display: block;
    justify-content: center;
  }
}
