<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {titleWeb: 'Acerca de nosotros' }) %>

  <body>
    <!-- ------------ Comienzo del HEADER  -->
    <%- include('partials/header') %>
      <!-- ------------ Fin del HEADER  -->

      <div class="containerAboutUs">

        <div class="imageAboutUs">
          <img src="./images/HIGGE.jpg" alt="">
        </div>

        <div class="leyendAboutUs">
          <h1>¡Acerca de nosotros!</h1>

          <p>Fundada en abril de 2022, <span>#Hygge</span> es una tienda online donde
            encontrará <em>obras de arte destacadas de nuestros artistas </em> de todo
            el país para que las personas descubran y disfruten de un espacio con
            imágenes únicas en todo el mundo, en línea desde un teléfono móvil,
            tableta o pc de escritorio.</p>
        </div>

      </div>

      <!-- ------------ comienzo del FOOTER  -->
      <%- include('partials/footer') %>
        <!-- ------------ Fin del FOOTER  -->
  </body>

</html>