<!DOCTYPE html>
<html lang="en-es">

<%- include('partials/head', {titleWeb: 'Contactanos' }) %>
  <link rel="stylesheet" href="/css/styles-contacto.css" />

  <body>
    <!-- ------------ Comienzo del HEADER  -->
    <%- include('partials/header') %>
      <!-- ------------ fin del HEADER  -->

      <!-- comienzo main CONTACTO -->
      <div>
        <div class="contact-form-wrapper d-flex justify-content-center">
          <form action="#" class="contact-form">
            <h5 class="title">Contactanos</h5>
            <p class="description">Sientete libre de contactarnos si necesitas asistencia, ayuda o cualquier otra cuestion 
            </p>
            <div>
              <input type="text" class="form-control rounded border-white mb-3 form-input" id="name" placeholder="Nombre"
                required>
            </div>
            <div>
              <input type="email" class="form-control rounded border-white mb-3 form-input" placeholder="Email"
                required>
            </div>
            <div>
              <textarea id="message" class="form-control rounded border-white mb-3 form-text-area" rows="5" cols="30"
                placeholder="Mensaje" required></textarea>
            </div>
            <div class="submit-button-wrapper">
              <input type="submit" value="Send">
            </div>
          </form>
        </div>
      </div>
      <!-- fin del main CONTACTO -->

      <!-- ------------ comienzo del FOOTER  -->
      <%- include('partials/footer') %>

        <!-- ------------ Fin del FOOTER  -->
  </body>

</html>