<!DOCTYPE html>
<html lang="en-es">

<%- include('partials/head', {titleWeb: 'Bienvenidxs a HIGGE' }) %>

  <body>
    <!-- ------------ Comienzo del HEADER  -->
    <%- include('partials/header') %>

      <!-- ------------ Fin del HEADER  -->

      <!-- ------------ comienzo del MAIN  -->
      <main>
        <h2>nuestras novedades</h2>
        <section>
          <article>
            <a href="/products/productsDetails"><img src="./images/Cuadro 2.jpg" alt="" /></a>
            <div class="info-producto">
              <div class="products-description">
                <p class="descripcion">Jack Nicholson</p>
                <p class="precios">$2.500</p>
              </div>
            </div>
          </article>

          <article>
            <a href="/detalle-producto-sylvester-stallone"><img src="./images/Cuadro 4.jpg" alt=""></a>
            <div class="info-producto">
              <div class="products-description">
                <p class="descripcion">Sylvester Stallone</p>
                <p class="precios">$3.150</p>
              </div>
            </div>
          </article>

          <article>
            <a href="/detalle-producto-steven-spielberg"><img src="./images/Cuadro 11.jpg" alt=""></a>
            <div class="info-producto">
              <div class="products-description">
                <p class="descripcion">Steven Spielberg</p>
                <p class="precios">$2.750</p>
              </div>
            </div>
          </article>

          <article>
            <a href="/detalle-producto-mi-pobre-angelito"><img src="./images/Cuadro 12.jpg" alt=""></a>
            <div class="info-producto">
              <div class="products-description">
                <p class="descripcion">Mi pobre angelito</p>
                <p class="precios">$3.000</p>
              </div>
            </div>
          </article>
        </section>

        <h2>En oferta</h2>
        <section>
          <article>
            <a href="/detalle-producto-pulp-fiction"><img src="./images/Cuadro 17.jpg" alt=""></a>
            <div class="info-producto">
              <div class="products-description">
                <p class="descripcion">Pulp Fiction</p>
                <p class="precios">$3.500</p>
                <p class="descuentos">10% off</p>
              </div>
          </article>

          <article>
            <a href="/detalle-producto-marty-mcfly"><img src="./images/Cuadro 16.jpg" alt=""></a>
            <div class="info-producto">
              <div class="products-description">
                <p class="descripcion">Marty McFly</p>
                <p class="precios">$6.770</p>
                <p class="descuentos">10% off</p>
              </div>
            </div>
          </article>

          <article>
            <a href="/detalle-producto-jules-and-vincent"><img src="./images/Cuadro 15.jpg" alt=""></a>
            <div class="info-producto">
              <div class="products-description">
                <p class="descripcion">Jules & Vincent</p>
                <p class="precios">$5.000</p>
                <p class="descuentos">10% off</p>
              </div>
          </article>
        </section>
      </main>
      <!-- ------------ Fin del MAIN  -->

      <div class="banner-divisor">
        <div class="logo-insta">
          <i class="fa-brands fa-instagram"></i>
        </div>

        <div class="mensaje">
          <p>buscanos en instagram</p>
          <h4>@higge_11</h4>
        </div>

      </div>


      <!-- ------------ comienzo del FOOTER  -->
      <%- include('partials/footer') %>

        <!-- ------------ Fin del FOOTER  -->


  </body>

</html>