<div class="banner-divisor">
  <div class="logo-insta">
    <i class="fa-brands fa-instagram"></i>
  </div>

  <div class="mensaje">
    <p>buscanos en instagram</p>
    <h4>@higge_11</h4>
  </div>

</div>

<section class="footer">
  <div class="share">
    <a href="#" class="fab fa-facebook-f"></a>
    <a href="#" class="fab fa-twitter"></a>
    <a href="#" class="fab fa-instagram"></a>
    <a href="#" class="fab fa-linkedin-in"></a>
  </div>

  <div class="links">
    <a href="#home">Inicio</a>
    <a href="#images">catalogo</a>
    <a href="#contact">contacto</a>
    <a href="#about-us">Acerca de nosotros</a>
  </div>

  <div class="creditos">creado por <span>grupo 11</span> | todos los derechos reservados </div>
</section>