<header class="main-header">
  <div class="top-header">
    <div class="burger-menu">
      <i class="fa-solid fa-bars"></i>
    </div>

    <figure class="logo">
      <a href="/"><img src="/images/logo.svg" alt="Logo de HIGGE" /> </a>
    </figure>

    <div class="usser-management">
      <ul class="account-management">
        <li class="login"><a href="/users/login">Iniciar sesión</a></li>
        <li class="register"><a href="/users/register">Crear cuenta</a></li>
      </ul>

      <div class="cart-shop">
        <button class="cart-shopping">
          <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
        </button>
      </div>
    </div>
  </div>

  <div class="bottom-header">
    <form class="form-search" action="#" method="GET">
      <input type="search" class="input-busqueda" placeholder="Buscar" />
      <button type="submit" class="search-button">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>

    <div class="gallery-products">
      <a href="/products/">
        <p>catálogo</p>
      </a>
    </div>

    <div class="main-navbar">
      <ul>
        <li class="home" id="home">
          <a href="/">Inicio</a>
        </li>
        <li class="images" id="catalogo">
          <a href="/products/">catálogo</a>
        </li>
        <li class="contact" id="contact">
          <a href="/users/contact">Contacto</a>
        </li>
        <li class="about-us" id="about-us">
          <a href="/aboutUs">Acerca de nosotros</a>
        </li>
        <li class="create-product" id="create-product">
          <a href="/products/create">Vender</a>
        </li>
      </ul>

      <div class="user-loged" id="user-loged">
        <% if (locals.userLogged) { %>
          <a href="/users/logout">logout</a>
          <% } %>
      </div>

    </div>
  </div>
</header>