<!DOCTYPE html>
<html lang="en-es">

  <%- include('partials/head') %>

<body>
  <!-- ------------ Comienzo del HEADER  -->
  <%- include('partials/header') %>
    <!-- ------------ fin del HEADER  -->

  <!-- comienzo main CONTACTO -->
  <main class="main-contacto">

    <div class="our-data">
    <p><i class="fa-solid fa-phone"></i>1124255758</p>
    <p><i class="fa-solid fa-envelope"></i>higge_contact@higge.com.ar</p>
    <p><i class="fa-solid fa-location-dot"></i>Buenos Aires, Argentina</p>
    <p><i class="fa-brands fa-instagram"></i>siguenos en instagram!</p>
    <p><i class="fa-brands fa-facebook-f"></i>siguenos en facebook</p>
    </div>

    <div class="form-contact">
        
    </div>

  </main>
  <!-- fin del main CONTACTO -->

 <!-- ------------ comienzo del FOOTER  -->
 <%- include('partials/footer') %>
 
 <!-- ------------ Fin del FOOTER  -->
</body>

</html>