<!DOCTYPE html>
<html lang="en-es">

<%- include('../partials/head', {titleWeb: 'Edita tu perfil' }) %>

    <body>

        <!-- ------------ Comienzo del HEADER  -->
        <%- include('../partials/header') %>
            <!-- ------------ fin del HEADER  -->

            <!-- comienzo Main editProfile -->
            <div class="form-container edit-profile-container">
                <h5>Actualice sus datos</h5>
                <div class="edit-profile">

                    <div class="user-data">
                        <form id="formEditProfile" action="/users/edit?_method=PUT" method="POST"
                            enctype="multipart/form-data">
                            
                        </form>
                    </div>
                </div>
            </div>
            <!-- fin del Main editProfile -->

            <!-- ------------ comienzo del FOOTER  -->
            <%- include('../partials/footer') %>

                <!-- ------------ Fin del FOOTER  -->

    </body>

</html>